<div class="chat-box">
  <h3>{{ clubName }}</h3>

  <button class="refresh-button" (click)="loadMessages()">Refresh</button>

  <div class="messages" #messageContainer>
    <div *ngFor="let msg of messages" [ngClass]="{'my-message': msg.sender.id === senderId, 'other-message': msg.sender.id !== senderId}">
      <div class="message-content">
        <strong>{{ msg.sender.username}}:</strong> <br> {{msg.content}}
      </div>

      <div class="message-timestamp" [ngClass]="{'left-timestamp': msg.sender.id !== senderId, 'right-timestamp': msg.sender.id === senderId}">
        {{ msg.timestamp | date:'short' }}
      </div>

      <button *ngIf="msg.sender.id === senderId && msg.status !== 'unsent'" (click)="unsendMessage(msg.id)">
        Unsend
      </button>

      <button *ngIf="hasPermission && msg.sender.id !== senderId && msg.status !== 'removed'" (click)="removeMessage(msg.id)">
        Remove
      </button>
    </div>
  </div>


  <div class="chat-input">
    <input [(ngModel)]="newMessage" placeholder="Type a message..." />
    <br>
    <button class="chat-send-button" (click)="sendMessage()">Send</button>
  </div>
</div>
