<div class="club-page-container">
  <h1 class="mat-headline-4">{{ 'CLUBS.TITLE' | translate }}</h1>

  <mat-tab-group animationDuration="300ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">group</mat-icon>
        {{ 'CLUBS.MY_CLUBS' | translate }}
      </ng-template>

      <div class="tab-content">
        <app-club-list [isUserClubs]="true" (clubClick)="goToClub($event)"></app-club-list>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">group_add</mat-icon>
        {{ 'CLUBS.JOIN_CLUBS' | translate }}
      </ng-template>

      <div class="tab-content">
        <app-club-list [isUserClubs]="false"></app-club-list>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <div class="badge-container">
          <mat-icon class="tab-icon">mail</mat-icon>
          <span>{{ 'CLUBS.INVITES' | translate }}</span>
          <span *ngIf="invites.length > 0" class="invite-badge">{{invites.length}}</span>
        </div>
      </ng-template>

      <div class="tab-content">
        <mat-card *ngIf="invites.length === 0 && !isLoading" class="empty-card">
          <mat-card-content>
            <p>{{ 'CLUBS.NO_INVITES' | translate }}</p>
          </mat-card-content>
        </mat-card>

        <div *ngIf="isLoading" class="loading-message">
          {{ 'CLUBS.LOADING_INVITES' | translate }}
        </div>

        <mat-card *ngFor="let invite of invites" class="invite-card">
          <mat-card-header>
            <mat-card-title>{{invite.club.name}}</mat-card-title>
            <mat-card-subtitle *ngIf="invite.club.description">{{invite.club.description}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-actions align="end">
            <button mat-button color="warn" (click)="declineInvite(invite.id)">{{ 'CLUBS.DECLINE' | translate }}</button>
            <button mat-raised-button color="primary" (click)="acceptInvite(invite.id)">{{ 'CLUBS.ACCEPT' | translate }}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">add_circle</mat-icon>
        {{ 'CLUBS.CREATE_CLUB' | translate }}
      </ng-template>

      <div class="tab-content">
        <app-club-create></app-club-create>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
