<div class="club-list-container">
  <mat-card *ngIf="clubs.length === 0 && isUserClubs" class="empty-state-card">
    <mat-card-content>
      <div class="empty-state-content">
        <h2 class="mat-h2">{{ 'CLUB_LIST.NO_USER_CLUBS' | translate }}</h2>
        <p class="mat-body-1">{{ 'CLUB_LIST.JOIN_BELOW' | translate }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="clubs.length === 0 && !isUserClubs" class="empty-state-card">
    <mat-card-content>
      <div class="empty-state-content">
        <h2 class="mat-h2">{{ 'CLUB_LIST.NO_AVAILABLE_CLUBS' | translate }}</h2>
        <p class="mat-body-1">{{ 'CLUB_LIST.CHECK_BACK' | translate }}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-list *ngIf="clubs.length > 0">
    <div *ngFor="let club of clubs; last as isLast">
      <mat-card class="club-card">
        <mat-card-header (click)="onClubClick(club.id)" class="clickable-header">
          <mat-card-title>{{ club.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content *ngIf="!isUserClubs">
          <p class="mat-body-1">{{ club.description }}</p>
        </mat-card-content>

        <mat-card-actions *ngIf="!isUserClubs" align="end">
          <button mat-raised-button color="primary" (click)="JoinClub(club.id)">
            {{ 'CLUB_LIST.JOIN_CLUB' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-divider *ngIf="!isLast"></mat-divider>
    </div>
  </mat-list>
</div>
