<mat-toolbar class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">

      <ng-container *ngIf="isLoggedIn">
        <button class="navbar-button" mat-button routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>{{ 'NAVBAR.HOME' | translate }}</span>
        </button>
        <button class="navbar-button" mat-button routerLink="/social">
          <mat-icon>people</mat-icon>
          <span>{{ 'NAVBAR.SOCIAL' | translate }}</span>
        </button>
        <button class="navbar-button" mat-button routerLink="/clubs">
          <mat-icon>groups</mat-icon>
          <span>{{ 'NAVBAR.CLUBS' | translate }}</span>
        </button>
        <button class="navbar-button" mat-button routerLink="/lobby">
          <mat-icon>casino</mat-icon>
          <span>{{ 'NAVBAR.LOBBY' | translate }}</span>
        </button>

        <button *ngIf="isAdmin || isRoot" class="navbar-button" mat-button routerLink="/admin">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>{{ 'NAVBAR.ADMIN' | translate }}</span>
        </button>

        <button *ngIf="isAdmin || isAgent || isRoot" class="navbar-button" mat-button routerLink="/agent">
          <mat-icon>support_agent</mat-icon>
          <span>{{ 'NAVBAR.AGENT' | translate }}</span>
        </button>
        <button *ngIf="isRoot" class="navbar-button" mat-button routerLink="/audit-logs">
          <mat-icon>history</mat-icon>
          <span>{{ 'NAVBAR.AUDIT_LOGS' | translate }}</span>
        </button>
      </ng-container>

    </div>

    <div class="navbar-right">
      <app-theme-toggle></app-theme-toggle>

      <app-language-selector></app-language-selector>

      <ng-container *ngIf="isLoggedIn">
        <button class="navbar-button" mat-button routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          <span>{{ username }}</span>
        </button>
        <button class="navbar-button" mat-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'NAVBAR.LOGOUT' | translate }}</span>
        </button>
      </ng-container>

      <ng-container *ngIf="!isLoggedIn">
        <button class="navbar-button" mat-button routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>{{ 'NAVBAR.LOGIN' | translate }}</span>
        </button>
        <button class="navbar-button" mat-raised-button color="accent" routerLink="/signup">
          <span>{{ 'NAVBAR.SIGNUP' | translate }}</span>
        </button>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
