<mat-toolbar color="primary" class="navbar">
  <div class="navbar-logo">
    <!-- Logo content goes here -->
  </div>
  <div class="navbar-left">
    <ng-container *ngIf="isLoggedIn">
      <button class="navbar-button" mat-button routerLink="/home">Home</button>
      <button class="navbar-button" mat-button routerLink="/social">Social</button>
      <button class="navbar-button" mat-button routerLink="/clubs">Clubs</button>
    </ng-container>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="isLoggedIn">
      <button class="navbar-button" mat-button routerLink="/profile">{{ localStorage.getItem("username") }}</button>
      <button class="navbar-button" mat-button (click)="userService.logout()">Logout</button>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <button class="navbar-button" mat-button routerLink="/login">Login</button>
      <button class="navbar-button" mat-button routerLink="/signup">Signup</button>
    </ng-container>
  </div>
</mat-toolbar>
