<div class="lobby-detail-container">
  <div *ngIf="lobby" class="social-header">
    <h1>
      {{ 'LOBBY.LOBBY_CODE' | translate }}: {{ lobby.code }}
      <button mat-icon-button (click)="copyLobbyCode()" matTooltip="{{ 'LOBBY.COPY_CODE' | translate }}">
        <mat-icon>content_copy</mat-icon>
      </button>
    </h1>
    <p>
      <span class="status-badge" [ngClass]="{
        'waiting': lobby.status === lobbyStatus.WAITING,
        'in-game': lobby.status === lobbyStatus.IN_GAME,
        'finished': lobby.status === lobbyStatus.FINISHED
      }">
        {{ 'LOBBY.STATUS.' + lobby.status | translate }}
      </span>
    </p>
  </div>

  <mat-card *ngIf="lobby" class="social-card">
    <mat-card-content>
      <div class="lobby-content">
        <div class="lobby-settings">
          <div>
            <h4>{{ 'LOBBY.GAME_SETTINGS' | translate }}</h4>
            <form [formGroup]="settingsForm">
              <div class="form-field">
                <mat-form-field appearance="fill">
                  <mat-select formControlName="gameId">
                    <mat-option *ngFor="let game of games" [value]="game.id">
                      {{ game.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="form-field">
                <mat-slide-toggle formControlName="playWithPoints">
                  {{ 'LOBBY.PLAY_WITH_POINTS' | translate }}
                </mat-slide-toggle>
              </div>

              <div class="form-field" *ngIf="!lobby.club" >
                <mat-slide-toggle formControlName="isPublic">
                  {{ 'LOBBY.PUBLIC_LOBBY' | translate }}
                </mat-slide-toggle>
              </div>

              <div class="settings-actions">
                <mat-card-actions align="start">
                  <button *ngIf="isLeader && lobby.status === lobbyStatus.WAITING"
                          mat-raised-button
                          color="primary"
                          [class.mat-button-dense]="true"
                          [disabled]="settingsForm.invalid || isLoading"
                          (click)="onSaveSettings()">
                    {{ 'LOBBY.SAVE_SETTINGS' | translate }}
                  </button>

                  <button
                    *ngIf="lobby.status === lobbyStatus.WAITING"
                    mat-button
                    color="warn"
                    [class.mat-button-dense]="true"
                    (click)="onLeaveLobby()"
                    [disabled]="isLoading">
                    <mat-icon>exit_to_app</mat-icon> {{ 'LOBBY.LEAVE_LOBBY' | translate }}
                  </button>

                  <button
                    mat-raised-button
                    color="accent"
                    *ngIf="lobby.status === lobbyStatus.IN_GAME && lobby.cardGameId"
                    [class.mat-button-dense]="true"
                    (click)="goToGame()">
                    <mat-icon>sports_esports</mat-icon> {{ 'LOBBY.GO_TO_GAME' | translate }}
                  </button>

                  <button
                    mat-raised-button
                    color="primary"
                    *ngIf="isLeader && lobby.status === lobbyStatus.WAITING"
                    [disabled]="!canStartGame() || isLoading"
                    [class.mat-button-dense]="true"
                    (click)="onStartGame()">
                    <mat-icon>play_arrow</mat-icon> {{ 'LOBBY.START_GAME' | translate }}
                  </button>
                </mat-card-actions>
              </div>

              <div class="game-info" *ngIf="selectedGame">
                <app-game-card
                  [game]="selectedGame"
                  [showRulesButton]="true"
                  [showActiveToggle]="false"
                  [isAdmin]="false">
                </app-game-card>
              </div>
            </form>
          </div>

        </div>

        <div class="players-section">
          <h4>{{ 'LOBBY.PLAYERS' | translate }} ( {{ lobby.players.length }} / {{ selectedGame?.maxPlayers }} )</h4>
          <div class="lobby-players">
            <mat-list>
              <mat-list-item *ngFor="let player of lobby.players">
                <div class="player-item">
                  <div class="player-info">
                    <span class="player-name">{{ player.username }}</span>
                    <span *ngIf="player.id === lobby.leader.id" class="leader-badge">{{ 'LOBBY.LEADER' | translate }}</span>
                  </div>
                  <button
                    mat-icon-button
                    color="warn"
                    *ngIf="isLeader && player.id !== currentUser?.id && lobby.status === lobbyStatus.WAITING"
                    (click)="onKickPlayer(player)"
                    matTooltip="{{ 'LOBBY.KICK_PLAYER' | translate }}"
                    [class.mat-button-dense]="true">
                    <mat-icon>person_remove</mat-icon>
                  </button>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <div class="chat-sidebar">
          <app-lobby-chat *ngIf="lobby" [lobbyName]="lobby.code"></app-lobby-chat>
        </div>
      </div>
    </mat-card-content>

    <mat-card-footer *ngIf="isLoading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <div class="loading-container" *ngIf="!lobby && isLoading">
    <mat-spinner></mat-spinner>
    <p>{{ 'LOBBY.LOADING' | translate }}</p>
  </div>
</div>
