<mat-card class="friends-card">
  <mat-card-header>
    <mat-card-title>{{ 'SOCIAL.MY_FRIENDS' | translate }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
      <p>{{ 'SOCIAL.LOADING_FRIENDS' | translate }}</p>
    </div>

    <div *ngIf="!isLoading && friends.length === 0" class="empty-list">
      <mat-icon class="empty-icon">people_outline</mat-icon>
      <p>{{ 'SOCIAL.NO_FRIENDS' | translate }}</p>
    </div>

    <mat-list *ngIf="!isLoading && friends.length > 0" class="friend-list">
      <ng-container *ngFor="let friend of friends; last as isLast">
        <mat-list-item class="friend-item">
          <div class="friend-content">
            <div class="friend-info">
              <mat-icon class="friend-icon">person</mat-icon>
              <span class="friend-name"
                    [matBadge]="unreadCounts[parseInt(friend.id)]"
                    [matBadgeHidden]="!unreadCounts[parseInt(friend.id)] || unreadCounts[parseInt(friend.id)] <= 0"
                    matBadgeColor="accent"
                    matBadgeSize="small"
                    matBadgeOverlap="true">
                {{ friend.username }}
              </span>
            </div>

            <div class="friend-actions">
              <button mat-raised-button color="warn" (click)="deleteFriend(friend.id)" [matTooltip]="'SOCIAL.REMOVE_FRIEND' | translate">
                <mat-icon>delete</mat-icon>
                <p>{{'SOCIAL.REMOVE_FRIEND' | translate}}</p>
              </button>

              <button mat-raised-button color="primary" (click)="toggleChat(friend.id)">
                <mat-icon>{{ openChats[parseInt(friend.id)] ? 'close' : 'chat' }}</mat-icon>
                <p>{{ openChats[parseInt(friend.id)] ? ('SOCIAL.CLOSE_CHAT' | translate) : ('SOCIAL.OPEN_CHAT' | translate) }}</p>
              </button>
            </div>
          </div>
        </mat-list-item>

        <div *ngIf="openChats[parseInt(friend.id)]" class="chat-container">
          <app-chat [receiverId]="friend.id" [receiverName]="friend.username"></app-chat>
        </div>

        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
