<li *ngFor="let friend of friends">
  {{ friend.username }}
  <span *ngIf="unreadCounts[parseInt(friend.id)] && unreadCounts[parseInt(friend.id)] > 0" class="unread-badge">
    {{ unreadCounts[parseInt(friend.id)] }}
  </span>
  <button (click)="deleteFriend(friend.id)">Remove</button>
  <button (click)="toggleChat(friend.id)">
    {{ openChats[parseInt(friend.id)] ? 'Close' : 'Message' }}
  </button>

  <app-chat *ngIf="openChats[parseInt(friend.id)]" [receiverId]="friend.id"></app-chat>
</li>
