<mat-list class="friend-list">
  <mat-list-item *ngFor="let friend of friends" class="friend-item">
    <div class="friend-content">
      <span class="friend-name" [matBadge]="unreadCounts[parseInt(friend.id)]"
            [matBadgeHidden]="!unreadCounts[parseInt(friend.id)] || unreadCounts[parseInt(friend.id)] <= 0"
            matBadgeColor="accent">
        {{ friend.username }}
      </span>

      <div class="button-container">
        <button mat-button color="warn" (click)="deleteFriend(friend.id)" aria-label="Remove friend">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-button color="primary" (click)="toggleChat(friend.id)">
          {{ openChats[parseInt(friend.id)] ? 'Close' : 'Message' }}
        </button>
      </div>
    </div>

    <div *ngIf="openChats[parseInt(friend.id)]" class="chat-container">
      <app-chat [receiverId]="friend.id"></app-chat>
    </div>
  </mat-list-item>
</mat-list>
