<div class="register-container">
  <form (ngSubmit)="createUser()">
    <h1>Registration</h1>
    <label>Username:</label>
    <input type="text" [(ngModel)]="newUser.username" name="username" required>

    <label>Email:</label>
    <input type="email" [(ngModel)]="newUser.email" name="email" required>

    <label>Password:</label>
    <input type="password" [(ngModel)]="newUser.password" name="password" required minlength="6">

    <button type="submit" [disabled]="isLoading">Create User</button>
  </form>

  <p *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
    {{ message }}
  </p>
</div>
