<div class="games-container">
  <div class="games-header">
    <h1>{{ 'GAMES.TITLE' | translate }}</h1>
    <p>{{ 'GAMES.DESCRIPTION' | translate }}</p>
  </div>

  <mat-card class="social-card" *ngIf="!isLoading && games.length > 0">
    <mat-card-content>
      <div class="games-list">
        <ng-container *ngFor="let game of games; let last = last">
          <div class="game-card-container">
            <app-game-card
              [game]="game"
              [showRulesButton]="true"
              [showActiveToggle]="false"
              [isAdmin]="false">
            </app-game-card>
          </div>
          <mat-divider *ngIf="!last" class="game-divider"></mat-divider>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="no-games" *ngIf="!isLoading && games.length === 0">
    <mat-card class="social-card">
      <mat-card-content>
        <p>{{ 'GAMES.NO_GAMES' | translate }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="loading-container" *ngIf="isLoading">
    <mat-spinner diameter="40"></mat-spinner>
    <p>{{ 'COMMON.LOADING' | translate }}</p>
  </div>
</div>
