<div class="support-container">
  <div class="social-header">
    <h1>{{ 'TICKET.SUPPORT_CENTER' | translate }}</h1>
    <p>{{ 'TICKET.SUPPORT_SUBTITLE' | translate }}</p>
  </div>

  <mat-card class="social-card">
    <mat-tab-group *ngIf="isLoggedIn" animationDuration="300ms">
      <mat-tab [label]="'TICKET.CREATE_TICKET' | translate">
        <div class="tab-content">
          <app-create-ticket></app-create-ticket>
        </div>
      </mat-tab>

      <mat-tab [label]="'TICKET.MY_TICKETS' | translate">
        <div class="tab-content">
          <app-ticket-list [showMyTickets]="true"></app-ticket-list>
        </div>
      </mat-tab>
    </mat-tab-group>

    <mat-tab-group *ngIf="!isLoggedIn" animationDuration="300ms">
      <mat-tab [label]="'TICKET.CREATE_TICKET' | translate">
        <div class="tab-content">
          <app-create-ticket></app-create-ticket>
        </div>
      </mat-tab>

      <mat-tab [label]="'TICKET.FIND_TICKET' | translate">
        <div class="tab-content">
          <app-ticket-list [showMyTickets]="false"></app-ticket-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
